body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(234, 238, 243);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
*{
  box-sizing: border-box;
}

.preview-form{
  border:2px solid black;
  min-width: 90%;
  margin:10px;
  padding: 10px;
  height: auto;
  background-color: rgb(252, 240, 223);
}

 form{
  width: 95%;
  /* border:2px solid  rgb(252, 248, 242);; */
  height:120px;
  margin-bottom: 15px;
  border-radius: 10px;
  display:  flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0px 10px;
  background-color: aliceblue;
}
input{
  border: none;
  border-bottom: 2px solid black;
}
.edit-box input,.form1 input{
  width: 90%;
  height: 30%;
  border: none;
  border-bottom: 2px solid black;
  padding-bottom: 0px;
}
input:focus{
  border: none;
  border-bottom: 2px solid rgb(202, 24, 24);
}
button{
  min-height: 35px;
  /* font-family: 'Courier New', Courier, monospace; */
  color:black;
  background-color: rgb(23, 180, 23);
  border: 2px solid rgb(23, 180, 23);
  cursor: pointer;
  font-weight: bold;
  border-radius: 5px;
  transition: transform 200ms ease-in-out 0s;
}

button:active{
  transform: scale(0.9);
}
button a{
  text-decoration: none;
  color: aliceblue;
}
.preview-btn{
  width: 90%;
  margin: 10px;
  display:  flex;
  justify-content: center;
}
.preview-btn button{
  margin: 10px;
}
.delete-btn{
  background-color: red;
  border: none;
  font-family:'Times New Roman', Times, serif;
  /* font-weight: bold; */
  max-width: 20px;
  min-height: 10px;
  
  
}
label{
  width: 100%;
  font-weight: bold;
}
.edit-box {
  width: 95%;
  /* border:2px solid  rgb(252, 248, 242);; */
  min-height:120px;
  margin-bottom: 15px;
  border-radius: 10px;
  display:  flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0px 10px;
  background-color: aliceblue;
  position: relative;
  padding-bottom: 5px;
}
.edit-box .field-name{
  width: 100%;
  display: flex;
  flex-direction: column;
}
.edit-box .delete-btn{
  right: 12px;
  top: 2px;
  position:absolute;
}
.edit-box select{
  max-width: 100px;
}
.upload-button{
  /* border: 2px solid black; */
  min-height: 20%;
}
.MainForm{
  /* border: 2px solid black; */
  min-height: 100%;
  gap: 20px;
}
.MainForm form{
  /* border:2px solid black; */
  height: 65%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 15px;
}
.MainForm .formDescription{
  height: 25%;
}
.MainForm h1{
  height: 10%;
}
.MainForm .input-preview{
  min-height: 100px;
  display:flex;
  flex-direction: column;
  justify-content: space-around;
}
.user-dp{
  box-sizing: border-box;
  min-height: 300px;
  /* border:2px solid black; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.userImg{
  height: 300px;
  /* border: 2px solid black; */
  display:  flex;
  justify-content: center;
  align-items: center;

}
.userImg img{
  object-fit: contain;
  height: 95%;
  width: 95%;
}
.userName{
  height: 50px;
  border: 2px solid black;
  
}
.userform{
  /* border: 2px solid black; */
  min-height: 100vh;
}

.userform .input-preview{
  /* border: 2px solid black; */
  min-height: 150px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
  justify-content: space-around;
}